<mat-card>
<h2>Event Details</h2>
<hr>
    <div fxLayout="row layout-wrap "  fxLayoutWrap >
   
       <div fxFlex="50">
        <label>country </label>
        <h3>{{country}}</h3>
       </div>
        <div fxFlex="50">
            <label>city </label>
            <h3>{{city}}</h3>
        </div>
        <div fxFlex="50">
            <label>venu </label>
            <h3>{{venu}} </h3>
    
        </div>
        <div fxFlex="50">
            <label>date </label>
            <h3>{{date}}</h3>
        </div>
            
        
      </div>
        </mat-card>