
  
  

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      

          <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let element">  {{element[column]}}</mat-cell>
         
            <!-- <button mat-raised-button color="warn" *ngIf="column==='actions'" (click)="delete(element)">Delete</button>   
       -->
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     
    </mat-table>
  </div>



  